/** Media Queries **/
@mixin mobile {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin custom_button($bgColor, $display) {
    border: none;
    background-color: $bgColor;
    color: $white;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    display: $display;
    &:hover {
        background-color: darken($bgColor, 5%);
    }
}